<div class="visualisation-container row no-gutters">
    <div class="col-8 col-lg-7 p-3 h-100">
        <mat-card class="h-100">
            <mat-card-content>
            <!-- <div style="max-height: 70vh;"> -->
            <div>
                <div class="row no-gutters flex-nowrap defect-info p-2 mb-2 pr-0"
                    [ngClass]="{verified : isVerified()}">
                    
                    <canvas #canvas class="col"
                    [ngClass]="{draw : tool === 'draw'}"
                    (mousedown)='canvasOnClick($event)'></canvas>

                    <div class="col-auto">
                        <div class="d-flex flex-column">
                            <button mat-icon-button class="m-1"
                            [ngClass]="{ buttonSelected: tool === 'mouse' }"
                            matTooltip="Click point to select point, and click somewhere else to move point. Double-click point to select defect."
                            (click)='onMouseButton()'>
                                <mat-icon class="mb-1">north_west</mat-icon>
                            </button>
                            <button mat-icon-button class="m-1"
                            [ngClass]="{ buttonSelected: tool === 'draw' }"
                            matTooltip="Polygon tool to annotate new defect."
                            (click)='onAddButton()'>
                                <mat-icon class="mb-1">timeline</mat-icon>
                            </button>
                            <button mat-icon-button class="m-1"
                            matTooltip="Click to delete selected point / selected defect."
                            (click)='clear()'>
                                <mat-icon>clear</mat-icon>
                            </button>
                            <button mat-icon-button class="m-1"
                            matTooltip="Click to delete all defects."
                            (click)='clearPolygons()'>
                                <mat-icon>refresh</mat-icon>
                                <!-- <svg style="height:2rem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" viewBox="0 0 100 125" version="1.1" x="0px" y="0px"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><path d="M5,73.662 L73.662,73.662 L73.662,5 L5,5 L5,73.662 Z M59.45,55.209 L55.208,59.451 L39.33,43.573 L23.452,59.451 L19.21,55.209 L35.088,39.331 L19.21,23.453 L23.452,19.211 L39.33,35.089 L55.208,19.211 L59.45,23.453 L43.572,39.331 L59.45,55.209 L59.45,55.209 Z M84.66,19.062 L78.661,19.062 L78.661,78.725 L18.998,78.725 L18.998,84.724 L84.66,84.724 L84.66,19.062 L84.66,19.062 Z M88.936,29.338 L88.936,89.001 L29.274,89.001 L29.274,95 L94.936,95 L94.936,29.338 L88.936,29.338 L88.936,29.338 Z" fill="white" sketch:type="MSShapeGroup"/></g></svg> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters defect-info">

                    <mat-radio-group 
                        [ngModel]="selectedPolygon?.defect_type" 
                        (ngModelChange)="selectedPolygon ? (selectedPolygon.defect_type=$event) : (selectedPolygon.defect_type=$event)"
                        [disabled]="!getSelectedPolygon()"
                        class="col-auto m-1">
                        <div class="classes-container">
                            <mat-radio-button class="ml-2" value="corrosion"><samp>Corrosion</samp></mat-radio-button>
                            <mat-radio-button class="ml-2" value="crack"><samp>Crack</samp></mat-radio-button>
                            <mat-radio-button class="ml-2" value="pitting"><samp>Pitting</samp></mat-radio-button>
                            <mat-radio-button class="ml-2" value="stain"><samp>Stain</samp></mat-radio-button>
                        </div>
                    </mat-radio-group>
                    
                    <mat-form-field class="col w-100 m-1 mx-3">
                        <!-- <samp>Defect Comment</samp> -->
                        <textarea matInput
                            rows="3"
                            placeholder="Defect Comment"
                            [ngModel]="selectedPolygon?.comment" 
                            (ngModelChange)="selectedPolygon ? (selectedPolygon.comment=$event) : (selectedPolygon.comment=$event)"
                            [disabled]="!getSelectedPolygon()"></textarea>
                    </mat-form-field>
                    <!-- <div class="col-auto m-1">
                            <button mat-icon-button class="m-1" 
                            (click)="editSaveDefect()"
                            [disabled]="!polygons[getSelectedPolygonIdx()]">
                                <mat-icon *ngIf="!editDefect">edit</mat-icon>
                                <mat-icon *ngIf="editDefect">save</mat-icon>
                            </button>
                    </div> -->
                </div>
                <div class="d-flex flex-column justify-content-end">
                    <button mat-raised-button
                    matTooltip="Click to verify keyframe and all its defects." 
                    class="mt-1"
                    (click)="verifyKeyframe()">
                        <samp>Save / Verify Keyframe</samp>
                    </button>
                </div>
                <div style="height: 200px; overflow-y: auto; overflow-x: hidden;  ">
                <div class="row" *ngFor="let history of dataItem">
                    <div class="col-6"></div><div class="col-6  row">
                        <div class="col-12 text-right" style="padding: 10px;">
    <span>Edited by 
</span><span>{{history.name}}</span>
</div>
<div class="col-12 text-right" style="padding: 10px;">
<mat-icon class="notranslate material-icons mat-icon-no-color">update
</mat-icon><span>{{history.created}}</span>
</div>
</div>
    </div>

                </div>


            </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-4 col-lg-5 p-3 h-100">
        <mat-card class=" h-100">
            <mat-card-content>
                
                <div class="container-fluid">
                    <div *ngFor="let keyframe of keyframes">
                        <img 
                            src={{keyframe.filename}} 
                            class="thumbnail h-100 w-100 my-2 px-2" 
                            [ngClass]="{thumbnailSelected:keyframe.id===selectedKeyframeId, 
                                        verified:keyframe.verified_status&&keyframe.id!==selectedKeyframeId}"
                            (click)="selectThumbnail(keyframe)">
                    </div>
                </div>
            </mat-card-content>
        </mat-card>    
    </div>
    
</div>




