<!-- <mat-spinner color="primary"></mat-spinner> -->

<!-- <div>
  <br/>
  <div class="loading-container">
    <img class="loading" src="../../../assets/loading.gif">
    
    <h6 class="mt-1">
      <samp style="font-size:0.9em;">Loading Project...</samp>
    </h6>
  </div>
</div> -->

<!-- <button class="my-3" mat-button color="accent" [routerLink]="['/home']"> Return to Home Page </button> -->
<div class="loading-container">
  <img class="loading" src="../../../assets/loading.gif">
  <h6 class="mt-1"><samp style="font-size:0.9em;">Loading...</samp></h6>
</div>