<div class="visualisation-container row no-gutters">
  <mat-card class="col-7 p-3 h-100">
    <mat-card-content>
      <div class="row no-gutters m-1">
        <button mat-button [disabled]="!lockDefects|| clientMode" (click)="toggleLock()">
          <mat-icon class="m-1" *ngIf="lockDefects">lock</mat-icon>
          <mat-icon class="m-1" *ngIf="!lockDefects">lock_open</mat-icon>
          <div class="d-inline m-1" *ngIf="lockDefects"><samp>Positions Locked.</samp></div>
          <div class="d-inline m-1"  *ngIf="!lockDefects"><samp>Positions Unlocked.</samp></div>
        </button>
        <div class="flex-fill"></div>
        <button mat-button class="m-1" 
          *ngIf="!lockDefects" (click)="afp.onUndo()">
          <mat-icon>undo</mat-icon>
        </button>
        <button mat-button class="m-1" 
          *ngIf="!lockDefects" (click)="afp.onSave(); toggleLock()">
          <mat-icon>save</mat-icon>
        </button>
      </div>
      
      <div 
      [ngClass]="{ defectsUnlocked:!lockDefects, defectsLocked:lockDefects } ">
        <app-floor-plan
        #afp 
        [lockDefects]="lockDefects"
        [selectedFloorplanId]="selectedFloorplanId"
        (selectDefect)="selectDefect($event)"></app-floor-plan>
      </div>
      
      <div *ngIf="floorplans" class="row no-gutters justify-content-center">
        <div *ngFor="let fp of (floorplans|object:'values')">
            <img 
              src={{fp.filename}} 
              class="col thumbnail" 
              (click)="selectFloorplan(fp.id)"
              [ngClass]="{ selectedFloorplan: fp.id === selectedFloorplanId }">
              
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <div class="col-5 h-100">
    <mat-card class="m-3 h-100">
      <div class="img-wrapper">
        <img #defectKeyframe>
      </div>
      <mat-card-content>
        <p><samp>Localisation Coordinates: </samp><samp *ngIf="selectedDefect">({{selectedDefect.position_coordinates[0]?.toFixed(3)}},{{selectedDefect.position_coordinates[1]?.toFixed(3)}})</samp></p>
        <p><samp>Defect ID: </samp> <samp>{{selectedDefect?.id}}</samp></p>
        <!-- <mat-form-field class="w-100">
          <textarea rows="1" matInput 
          placeholder="Defect ID"
          [(ngModel)]="selectedDefect.id"
          [disabled]="!editing || clientMode"></textarea>
        </mat-form-field> -->
        <mat-form-field class="w-100">
          <!-- <samp>Class: </samp> -->
          <textarea rows="1" matInput
          placeholder="Defect Class"
          [(ngModel)]="selectedDefect.defect_type"
          [disabled]="!editing || clientMode"></textarea>
        </mat-form-field>
        <mat-form-field class="w-100 pb-0">
          <!-- <samp>Comment: </samp> -->
          <textarea rows="1" matInput
          placeholder="Defect Comment"
          [(ngModel)]="selectedDefect.defect_comment"
          [disabled]="!editing || clientMode"></textarea>
        </mat-form-field>
        
      </mat-card-content>
      <div class="row no-gutters">
        <!-- <button mat-icon-button class="m-1" 
        (click)="afp.onAdd()">
          <mat-icon>add</mat-icon>
        </button> -->
        <div class="flex-fill"></div>
        <button mat-icon-button class="m-1" *ngIf="selectedDefect.id!=='' && !clientMode">
          <mat-icon *ngIf="!editing" (click)="onEdit()">edit</mat-icon>
          <mat-icon *ngIf="editing" (click)="onSave()">save</mat-icon>
        </button>
        <button mat-icon-button class="m-1" 
        [disabled]="selectedDefect.id=='' || clientMode"
        (click)="afp.onDelete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>

